body {
    background-image: url('image.jpg');
    color: white;
}
.main .heading{
    float: left;
}
.main .menu{
    float: right;
}

.main .menu ul{
    list-style-type: none;
}

.main .menu ul li {
    display: inline;
    margin-right: 10px;
    font-size: 20px;
}

.main .content {
    margin: auto;
    position: absolute;
    top: 45%;
    left: 45%;
    font-size: 40px;
}